.text-center{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .container {
    display: flex;
    width: 50%;
    height: 80vh;
  }
  
  .mx-auto{
    margin: auto;
  }
  
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }

  .input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
  }